<label>Username</label>
<!-- <input 
 type="text" 
 class="form-control"
 (input)="onUpdateServerName($event)"> 
<input 
 type="text" 
 class="form-control"
 [(ngModel)] = "serverName"> -->

 <input 
 type="text"
 class="form-control"
 [(ngModel)]="username">

 <p>{{ username }}</p>
<br>

<label>password</label>
<input
type="password"
class="form-control">

<button 
class="btn btn-primary" [disabled]="username === ' ' && password===' ' "
(click)="username = ' '" > Submit </button>

<!-- <button 
 class ="btn btn-primary" (click)="showSecret=!showSecret"> Display Details</button>  -->
 <button
class ="btn btn-primary" (click)="onToggleDetails()"> Display Details</button>
<p *ngIf="showSecret">Secrest Password = tuna</p>
<div 
*ngFor="let logItem of log"
    [ngStyle]="backgroundColor: logItem >=5 ? 'blue' : 'transparent'}" 
    >{{logItem}}
</div>
<!-- <p>{{serverCreationStatus}}</p> -->

<app-server></app-server>

<app-server></app-server> 
